doctype html
html(lang='ro')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title Horoscop
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='apple-touch-icon', href='/favicon152.png')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700|Open+Sans+Condensed:300,300italic,700&subset=latin,latin-ext')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
    style: :stylus(compress=true)
      body
        font-family 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif
        padding 0

      body, label
        font-size 16px

      body, li, h1, h2, h3
        line-height 1.4

      p, li, ul, ol
        margin-bottom 1em

      a
        &:hover
          text-decoration none
          border-bottom 1px solid #A4C1D3
          &.hide-link
            color #08c
        &.hide-link
          color #333

      h1, h2, h3, h4, h5, h6
        font-family 'Open Sans Condensed', "Helvetica Neue", Helvetica, Arial, sans-serif
        font-weight 300
        margin 0

      h1
        text-align center
        font-size 56px
        a
          color #333
          &:hover
            text-decoration none
            border 0
            color #08c

      header
        margin 0 0 25px 0

      footer
        margin-top 45px
        padding-bottom 10px
        text-align center
        font-size 16px
        padding-top 10px

      /* Devices with big screens. */
      @media only screen and (min-width: 768px)
        header, .readable, footer
          width 600px
          margin-left auto
          margin-right auto

      /* Devices with medium screens */
      @media only screen and (min-width: 480px) and (max-width: 767px)
        header, .readable, footer
          max-width 600px
          padding 0 10px
          margin-left auto
          margin-right auto

      /* Devices with small screens */
      @media only screen and (max-width: 479px)
        header, .readable, footer
          padding 0 8px

        body, label
          font-size 14px
        h1
          font-size 36px
        h2
          font-size 29px
        h3
          font-size 22px

        header
          margin 0 0 5px 0
        footer
          font-size 14px
      #date-controls
        position relative
        margin-bottom 20px
        .prev, .next
          position absolute
          top 12px
        .prev
          left 0
        .next
          right 0
        .curr
          text-align center
        a:hover
          border-bottom 0
      #render-text
        display table
        width 100%
        .sign
          display table-row
        .bubble, .text
          display table-cell
          padding-top 20px
          padding-bottom 20px
        .bubble
          width 120px
          vertical-align middle
        a.bubble-inner
          display block
          color #333
          background-color #eee
          &:hover
            color #fff
            background-color #82a8c7
          height 100px
          border-radius 50px
          &, .top, .bottom
            display block
            width 100px
          text-align center
          &:hover
            border 0
          .top
            font-size 50px
            height 60px
          .bottom
            font-family 'Open Sans Condensed', sans-serif
            font-size 20px

  body
    header
      h1
        a(href='.') Horoscop

    // googleoff: all
    .readable
      #date-controls
        h3.prev: a
        h3.next: a
        h2.curr: a
      #render-text
    // googleon: all

    footer
      p.text-center Creat de <a href='/'>Paul Nechifor</a>.

    script(src='//code.jquery.com/jquery-1.10.2.min.js')
    script(src='//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')
    script !{js}
