extends ../intercessor-layout

block content
  .readable
    #date-controls
      h3.prev: a
      h3.next: a
      h2.curr: a
    #render-text

block scripts
  script window.staticPath = !{JSON.stringify(app.paths.static)};
