#date-controls
  position relative
  margin-bottom 20px
  .prev, .next
    position absolute
    top 12px
  .prev
    left 0
  .next
    right 0
  .curr
    text-align center
  a:hover
    border-bottom 0
#render-text
  display table
  width 100%
  .sign
    display table-row
  .bubble, .text
    display table-cell
    padding-top 20px
    padding-bottom 20px
  .bubble
    width 120px
    vertical-align middle
  a.bubble-inner
    display block
    color #333
    background-color #eee
    &:hover
      color #fff
      background-color #82a8c7
    height 100px
    border-radius 50px
    &, .top, .bottom
      display block
      width 100px
    text-align center
    &:hover
      border 0
    .top
      font-size 50px
      height 60px
    .bottom
      font-family 'Open Sans Condensed', sans-serif
      font-size 20px
